<!DOCTYPE html>
<html ng-app="Angello">
<head>
    <title>Title</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js"></script>
    <script src="App.js"></script>
</head>
<body>
    <div ng-controller="MainCtrl as main">
        <h1>{{main.title}}</h1>
        <div>
            <h2>Stories</h2>
            <story ng-repeat="story in main.stories"
                 ng-click="main.setCurrentStory(story)">
            </story>
            <br/>
            <a ng-click="main.createStory()">
                <span>"ddd"</span>
            </a>
        </div>
    </div>
</body>
</html>