<!DOCTYPE html>
<html ng-app="Angello">
<head>
    <title>Title</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
    <script>
        var myModule = angular.module('Angello', [])
        myModule.factory('AngelloHelper', function(){
            var buildIndex = function (source, property){
                var tempArray = [];
                for(var i = 0, len = source.length; i < len; ++i){
                    tempArray[source[i][property]] = source[i];
                }
                return tempArray;
            }
            return {
                buildIndex: buildIndex
            }
        })
        myModule.factory('AngelloModel', function(){})
        myModule.factory('AngelloCtrl', function(){})
        myModule.factory('story', function(){})
        myModule.service('AngelloModel', function(){
            var service = this,
                stories = [
                {
                    title: 'FirstStory',
                    description: "Our first story",
                    criteria: 'Criteria pending',
                    status: 'To Do',
                    type: 'Feature',
                    reporter: 'Lukas Reubbelke',
                    assigne: 'Brian Ford'
                },
                {
                    title: 'SecondStory',
                    description: "Our secod story",
                    criteria: 'Criteria pending',
                    status: 'To Do',
                    type: 'Feature',
                    reporter: 'Lukas Reubbelke',
                    assigne: 'Brian Ford'
                }
            ];
            service.getStories=function(){

                return stories;
            }
        })

        myModule.controller('MainCtrl', function(AngelloModel){
            var main = this;
            main.title = 'Title';
            main.stories = AngelloModel.getStories();
            main.createStory = function(){
                main.stories.push(
                        {
                            title: 'New Story',
                            description: 'Description pending.',
                            criteria: 'Criteria pending.',
                            status: 'Back Log',
                            type: 'Feature',
                            reporter: 'Pending',
                            assignee: 'Pending'
                        }
                )
            }
        })
        myModule.directive('story', function(){
            return {
                scope: true,
                replace: true,
                template: '<div><h4>{{story.title}}</h4><p>{{story.description}}</p>'
            }
        })

    </script>
</head>
<body>
    <div ng-controller="MainCtrl as main">
        <h1>{{main.title}}</h1>
        <div>
            <h2>Stories</h2>
            <story ng-repeat="story in main.stories"
                 ng-click="main.setCurrentStory(story)">
            </story>
            <br/>
            <a ng-click="main.createStory()">
                <span>"ddd"</span>
            </a>
        </div>
    </div>
</body>
</html>